In [1]:
import pandas as pd
import numpy as np

In [7]:
pd.set_option('display.max_columns', None)

In [15]:
DATA = '../data/'
KAG = DATA + 'kaggle_data/'
# pd.read_csv(KAG + 'MRegularSeasonCompactResults.csv')
# pd.read_csv(KAG + 'MNCAATourneyCompactResults.csv')

reg = pd.read_csv(KAG + 'MRegularSeasonCompactResults.csv')
post = pd.read_csv(KAG  + 'MRegularSeasonCompactResults.csv')
cities = pd.read_csv(KAG + 'Cities.csv')
gameCities = pd.read_csv(KAG + 'MGameCities.csv')
ords = pd.read_csv(KAG + 'MMasseyOrdinals.csv')

In [16]:
ords.head()

   Season  RankingDayNum SystemName  TeamID  OrdinalRank
0    2003             35        SEL    1102          159
1    2003             35        SEL    1103          229
2    2003             35        SEL    1104           12
3    2003             35        SEL    1105          314
4    2003             35        SEL    1106          260

In [31]:
ords['one'] = 1
ords_yrs = ords.groupby(['SystemName'], as_index = False).agg({'Season':['min', 'max']})
ords_yrs.columns = ['SystemName','min','max']
ords_yrs['diff'] = ords_yrs['max'] - ords_yrs['min']
ords_yrs.sort_values(['diff', 'SystemName'] ,ascending = [False, True]).head(20)

    SystemName   min   max  diff
3           AP  2003  2022    19
4          ARG  2003  2022    19
12         BIH  2003  2022    19
29         COL  2003  2022    19
46         DOL  2003  2022    19
48         DUN  2003  2022    19
97         MAS  2003  2022    19
105        MOR  2003  2022    19
123        POM  2003  2022    19
140        RTH  2003  2022    19
144        SAG  2003  2022    19
149        SEL  2003  2022    19
176        USA  2003  2022    19
178        WLK  2003  2022    19
182        WOB  2003  2022    19
183        WOL  2003  2022    19
43         DES  2004  2022    18
177        WIL  2005  2022    17
28         CNG  2004  2020    16
45         DOK  2006  2022    16

## 1. Construct 'favorite' model

### Description: 

Set of games considered:
All regular season games

Inputs used:
Rating systems + Distance to games

### Why favored:

-Lots of data - Rating systems and results go back to 2003

-"Compact" variables - ratings systems are designed to capture a lot of what we would already be trying to model if we were to feature engineer ourselves from the raw data